@font-face {
  font-family: "MyCustomFont";
  src: url("../iin/Minecraft_1.1.ttf") format("truetype");
}
body {
  background-color: #17181f;
  font-family: "MyCustomFont", sans-serif;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "MyCustomFont", sans-serif;
}

.webview {
  position: fixed;
  height: calc(100% - 60px);
  width: 100%;
  top: 60px;
}

.menu {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #14141b;
}

.shrech {
  border: none;
  background-color: #17181f;
  position: relative;
  float: left;
  top: 15px;
  left: 15px;
  width: calc(100% - 450px);
  height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  margin-right: 10px;
}
.shrech:focus {
  outline: none;
  box-shadow: none;
}

.button_Search {
  position: relative;
  float: left;
  margin-right: 10px;
  border: none;
  background-color: #17181f;
  font-size: 13px;
  padding: 7px;
  cursor: pointer;
  left: 20px;
  color: #fff;
  top: 15px;
  height: 30px;
}
.button_Search:hover {
  color: #68ff9d;
  opacity: 0.5;
}

.div_img_settings {
  position: relative;
  float: right;
  right: 15px;
  height: 35px;
  width: 35px;
  top: 13px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #17181f;
}
.div_img_settings:hover {
  background-color: #68ff9d;
}
.div_img_settings:hover img {
  filter: invert(0%);
}

.img_settings {
  filter: invert(80%);
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal,
#modal1 {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #17181f;
}

.menu_modal {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: #14141b;
  height: 50px;
  width: 100%;
}
.menu_modal p {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 17px;
  color: #68ff9d;
  float: left;
}

.div_img_hist {
  position: relative;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  top: 7.5px;
  right: 10px;
  float: right;
  cursor: pointer;
  background-color: #22242f;
}
.div_img_hist:hover {
  background-color: #68ff9d;
}
.div_img_hist:hover img {
  filter: invert(0%);
}

.img_hist {
  filter: invert(80%);
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_div {
  position: relative;
  top: 50px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hist_div {
  position: relative;
  width: calc(100% - 15px);
  height: 20px;
  margin-bottom: 10px;
  background-color: #22242f;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.url_hist {
  position: relative;
  float: left;
  color: #68ff9d;
}

.time_hist {
  position: relative;
  float: right;
  color: #fff;
}

#hist {
  position: relative;
  top: 50px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.settings_div {
  position: relative;
  margin-bottom: 10px;
  width: calc(100% - 15px);
  padding: 10px;
  background-color: #22242f;
}
.settings_div text {
  color: #68ff9d;
  font-size: 14px;
}
.settings_div p {
  font-size: 13px;
}

/*# sourceMappingURL=main.css.map */
